@use "../base/templates" as *;
@use "../base/media" as *;

.footer {
  background-color: var(--black);
  padding: 50px 0px;
  color: white;

  @include tablet-min {
    text-align: center;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @include tablet {
      flex-wrap: wrap;
    }
    @include tablet-min {
      flex-direction: column;
      align-items: center;
    }
  }
  &__main {
    flex: 0 1 250px;
    @include tablet {
      flex: auto;
      width: 100%;
    }
    @include tablet-min {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__logo {
    display: block;
    width: 170px;
    margin-bottom: 30px;

    img {
      display: block;
      width: 100%;
    }
  }
  &__main-content {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
  }
  &__nav {
  }
  &__nav-title {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
  }
  &__nav-list {
    display: flex;
    gap: 35px;

    @include laptop-middle {
      gap: 20px;
    }
    @include laptop-min {
      flex-direction: column;
      gap: 15px;
    }

    a {
      transition: color 0.3s ease;

      @include hover {
        color: var(--primary);
      }
    }
  }
  &__contacts {
    font-weight: 300;
    font-size: 16px;
    a:not(.social-item) {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 15px;

    @include tablet-min {
      flex-direction: column;
      align-items: center;
    }
  }
  &__tel {
    display: block;
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 3px;
  }
  &__bottom {
    @include flex-between;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    font-weight: 300;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }

    @include tablet-min {
      flex-direction: column;
      align-items: center;
    }
  }
  &__bottom-item {
  }
  &__bottom-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    @include tablet-min {
      flex-direction: column;
      align-items: center;
    }
  }
}
