@use "../base/templates" as *;
@use "../base/media" as *;

.header {
  position: sticky;
  top: 0;
  padding: 25px 0px;
  background-color: var(--rum);
  z-index: 100;

  transition: transform .4s ease;

  @include laptop-min {
    padding: 20px 0px;
  }
  @include tablet {
    padding: 15px 0px;
  }
  @media (min-width: 992px) {
    &._scroll {
      transform: translateY(-100%);
    }
  }

  &__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include laptop-min {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
  &__logo {
    display: block;
    width: 170px;

    @include laptop-min {
      width: 140px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__nav {
    display: flex;
    justify-content: center;

    @include laptop-min {
      display: none;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 25px;

    @include laptop-middle {
      gap: 15px;
    }

    a {
      position: relative;
      padding-bottom: 3px;
      transition: color 0.3s ease;

      &._active {
        right: 0;
      }

      @include hover {
        &::before {
          right: 0;
        }
      }
      &._active {
        &::before {
          right: 0;
        }
      }

      &::before {
        position: absolute;
        content: "";
        left: 0;
        right: 100%;
        bottom: 0;
        height: 1px;
        background-color: currentColor;
        transition: right 0.3s linear;
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    @include laptop-min {
      margin-left: auto;
    }
  }
  &__contacts-body {
    @include laptop-min {
      display: none;
    }
  }
  &__tel {
    display: block;
    width: fit-content;
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;

    @include hover {
      color: var(--primary);
    }
  }
  &__address {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 4px;
  }
  &__social {
    display: flex;
    gap: 10px;
    @include laptop-min {
      gap: 10px;
    }
  }
  &__social-item {
    @include flex-center;
    width: 30px;
    height: 30px;
    background-color: var(--primary);
    flex-shrink: 0;
    color: white;

    transition: background-color 0.3s ease;
    @include hover {
      background-color: var(--primary-d);
    }
    @include laptop-min {
      color: var(--primary);
      background-color: transparent !important;
    }

    svg {
      width: 14px;
      height: 14px;
      @include laptop-min {
        width: 25px;
        height: 25px;
      }
    }

    &._mob {
      @media (min-width: 992px) {
        display: none;
      }
    }
  }
  &__burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 30px;
    height: 30px;
    @media (min-width: 992px) {
      display: none;
    }

    div {
      width: 100%;
      height: 2px;
      background-color: var(--primary);
    }
  }
}
