@use '../base/templates' as *;
@use '../base/media' as *;

.s-contacts {
  &__wrapper {
    display: flex;
    @include tablet {
      flex-wrap: wrap;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--black);
    color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    flex: 0 1 420px;
    padding: 50px;

    font-size: 17px;

    a:not(.social-item, .btn-s) {
      transition: color .3s ease;

      @include hover {
        color: var(--primary);
      }
    }

    @include laptop-min {
      gap: 20px;
      padding: 30px;
      font-size: 16px;
      flex-basis: 330px;
    }
    @include tablet {
      flex: auto;
      width: 100%;
      padding: 20px;
    }
  }
  &__logo {
    display: block;
    width: 170px;
    margin-bottom: 30px;
  }
  &__tel {
    display: block;
    width: fit-content;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
    margin-bottom: 5px;
  }
  &__mail {
  }
  &__text {
  }
  &__btn {
    width: 270px;
    max-width: 100%;
    @include tablet-min {
      width: 100%;
    }
  }
  &__map {
    flex: 1;
    @include tablet {
      height: 400px;
      flex: auto;
      width: 100%;
    }
  }
}
