.s-notfound {
  display: flex;
  align-items: center;
  flex: 1;

  text-align: center;
  &__num {
    font-size: 120px;
    font-weight: 700;
  }
  &__content {
    text-align: center;
    margin: 20px 0px;
  }
  &__btn {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
  }
}