@use '../base/templates' as *;
@use '../base/media' as *;

.s-portfolio {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include laptop-middle {
      gap: 25px;
    }
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      gap: 15px;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }

    [data-more-item]:nth-child(-n+6) {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__more-btn {
    width: 330px;
    max-width: 100%;
    margin: 50px auto 0px auto;
    @include laptop-min {
      margin-top: 30px;
    }
    @include tablet-min {
      width: 100%;
    }
  }
}