.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;

  &._full {
    display: flex;
    flex-direction: column;
    min-height: 100svh;

    main {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}