<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__main">
        <a href="/" class="footer__logo">
          <img src="@img/logo-white.svg" alt="logo" />
        </a>
        <p class="footer__main-content">
          Обращаем ваше внимание, что ваш звонок может быть записан в целях
          контроля качества обслуживания и улучшения работы нашей службы.
          Оставаясь на линии, вы даете согласие на обработку ваших персональных
          данных Оператору: ООО «ООО».
        </p>
      </div>
      <div class="footer__nav">
        <div class="footer__nav-title">Навигация</div>
        <ul class="list footer__nav-list anchors">
          <li><a href="#s-services">Услуги</a></li>
          <li><a href="#s-portfolio">Портфолио</a></li>
          <li><a href="#s-team">Команда</a></li>
          <li><a href="#s-contacts">Контакты</a></li>
        </ul>
      </div>
			<div class="footer__contacts">
				<div class="footer__contacts-wrapper">
					<div>
						<a href="tel:+79999999999" class="footer__tel">+7 (999) 999-99-99</a>
						<a href="mailto:pwippwip@yandex.ru" class="footer__mail">pwippwip@yandex.ru</a>
					</div>
					<div class="social">
						<a href="#" target="_blank" rel="nofollow" class="social-item">
							<svg>
								<use xlink:href='img/icons/icons.svg#icon-tg'></use>
							</svg>
						</a>
						<a href="#" target="_blank" rel="nofollow" class="social-item">
							<svg>
								<use xlink:href='img/icons/icons.svg#icon-max'></use>
							</svg>
						</a>
					</div>
				</div>
				<div class="footer__contats-text">г. Казань, ул. Лаврентьева, 32Б</div>
			</div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-item">© 2025 Ресторан “Лалют”, ООО “ООО”, ИНН: 123123123123, ОГРН: 123123123123123</div>
      <ul class="list footer__bottom-list">
        <li><a href="#" target="_blank">Правила обработки персональных данных</a></li>
        <li><a href="#" target="_blank">Политика конфиденциальности</a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
