<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<a href="/" class="header__logo">
				<img src="@img/logo.svg" alt="logo">
			</a>
			<nav class="header__nav">
				<ul class="list header__list">
					<li><a href="#s-services" class="_active">Услуги</a></li>
					<li><a href="#s-portfolio">Портфолио</a></li>
					<li><a href="#s-team">Команда</a></li>
					<li><a href="#s-contacts">Контакты</a></li>
				</ul>
			</nav>
			<div class="header__contacts">
				<div class="header__contacts-body">
					<a href="tel:+79999999999" class="header__tel">+7 (999) 999‒99‒99</a>
					<div class="header__address">г. Казань, ул. Лаврентьева, 32Б</div>
				</div>
				<div class="header__social">
					<a href="tel:+79999999999" target="_blank" rel="nofollow" class="header__social-item _mob">
						<svg>
							<use xlink:href='img/icons/icons.svg#icon-tel'></use>
						</svg>
					</a>
					<a href="#" target="_blank" rel="nofollow" class="header__social-item">
						<svg>
							<use xlink:href='img/icons/icons.svg#icon-tg'></use>
						</svg>
					</a>
					<a href="#" target="_blank" rel="nofollow" class="header__social-item">
						<svg>
							<use xlink:href='img/icons/icons.svg#icon-max'></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="header__burger-btn" id="burger-open">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</header>