<section class="intro">
  <div class="container">
    <div class="intro__wrapper">
      <div class="intro__info">
        <h1 class="intro__title">разработка <br> веб-сайтов для вашего бизнеса</h1>
        <div class="intro__bottom">
          <a href="#modal-order" data-fancybox class="btn-s intro__btn _white">Заказать сайт</a>
          <p class="intro__content">Закажите импланты для вашей практики и обеспечьте своих пациентов качественными решениями</p>
        </div>
      </div>
      <img src="@img/intro.png" alt="image" class="intro__img">
    </div>
  </div>
</section>