<aside>
  <div class="modal" id="modal-order">
    <div class="modal__body">
      <div class="modal__close" data-fancybox-close>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </div>
      <div class="modal__title">Заказать сайт</div>
      <div class="modal__content">
        Заполните данные и наши менеджеры свяжутся с Вами в ближайшее время.
      </div>
      <form action="#" class="modal__form">
        <div class="input-control">
          <input type="text" placeholder="Имя и фамилия" class="input _outline" />
        </div>
        <div class="input-control">
          <input type="tel" placeholder="+7 (999) 999-99-99" class="input _outline" />
        </div>
        <div class="check-wrapper">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-84">
            <span class="wpcf7-form-control wpcf7-acceptance">
              <span class="wpcf7-list-item">
                <label>
                  <input
                    type="checkbox"
                    name="acceptance-84"
                    value="1"
                    required
                    aria-invalid="false"
                  />
                  <span class="wpcf7-list-item-label">
                    <span>
                      Я соглашаюсь с
                      <a href="/personal-data" target="_blank">
                        Политикой обработки персональных данных
                      </a>
                      и
                      <a href="/privacy-policy" target="_blank">
                        Политикой конфиденциальности
                      </a>
                    </span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </div>
        <button type="submit" class="btn-s">Отправить</button>
      </form>
    </div>
  </div>
</aside>
