<section class="s-about sect-m" id="s-about">
  <div class="container">
    <div class="s-about__wrapper">
      <div class="s-about__info">
        <h2 class="s-title s-about__title">О студии</h2>
        <div class="content-big">
          <p>
            Веб-студия «Армада» — ваш надёжный флагман в цифровом пространстве.
            Мы создаём быстрые, современные и эффективные сайты, которые не
            просто работают, а ведут бизнес к победе.
          </p>
          <p>
            Наша команда объединяет стратегов, дизайнеров и разработчиков для
            решения самых амбициозных задач. Доверьте нам свой проект, и мы
            выведем его в лидеры.
          </p>
        </div>
        <a href="#s-services" class="btn-s s-about__btn">Перейти к услугам</a>
      </div>
      <div class="s-about__grid">
        <div class="s-about__item">
          <img src="@img/flash.svg" alt="image" class="s-about__item-icon" />
          <span class="s-about__item-content">
            Планирование и проектирование
          </span>
        </div>
        <div class="s-about__item">
          <img src="@img/flash.svg" alt="image" class="s-about__item-icon" />
          <span class="s-about__item-content">
            Создание дизайна и прототипа
          </span>
        </div>
        <div class="s-about__item">
          <img src="@img/flash.svg" alt="image" class="s-about__item-icon" />
          <span class="s-about__item-content">Разработка сайта</span>
        </div>
        <div class="s-about__item">
          <img src="@img/flash.svg" alt="image" class="s-about__item-icon" />
          <span class="s-about__item-content">Тестирование <br> и запуск</span>
        </div>
      </div>
    </div>
  </div>
</section>
