<section class="sect-p s-services" id="s-services">
  <div class="container tabs">
    <div class="s-services__head">
      <h2 class="s-title">Услуги</h2>
      <div class="s-services__nav-slider swiper tabs-nav">
        <div class="swiper-wrapper">
          <div
            data-tab-btn="tab-0"
            class="swiper-slide btn-s _white s-services__nav-btn _active"
          >
            Разработка
          </div>
          <div
            data-tab-btn="tab-1"
            class="swiper-slide btn-s _white s-services__nav-btn"
          >
            Продвижение
          </div>
          <div
            data-tab-btn="tab-2"
            class="swiper-slide btn-s _white s-services__nav-btn"
          >
            Обслуживание
          </div>
          <div
            data-tab-btn="tab-3"
            class="swiper-slide btn-s _white s-services__nav-btn"
          >
            Доработка
          </div>
          <div
            data-tab-btn="tab-4"
            class="swiper-slide btn-s _white s-services__nav-btn"
          >
            Разработка
          </div>
          <div
            data-tab-btn="tab-5"
            class="swiper-slide btn-s _white s-services__nav-btn"
          >
            Продвижение
          </div>
          <div
            data-tab-btn="tab-6"
            class="swiper-slide btn-s _white s-services__nav-btn"
          >
            Обслуживание
          </div>
          <div
            data-tab-btn="tab-7"
            class="swiper-slide btn-s _white s-services__nav-btn"
          >
            Доработка
          </div>
        </div>
      </div>
      <div class="slider-arrows">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="tabs-content">
      <div
        data-tab="tab-0"
        data-count-show="4"
        class="container-more _active _show"
      >
        <div class="s-services__items">
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
        </div>
        <div data-more-btn class="btn-s s-services__btn-more">Показать ещё</div>
      </div>
      <div data-tab="tab-1" data-count-show="4" class="container-more">
        <div class="s-services__items">
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
        </div>
        <div data-more-btn class="btn-s s-services__btn-more">Показать ещё</div>
      </div>
      <div data-tab="tab-2" data-count-show="4" class="container-more">
        <div class="s-services__items">
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
        </div>
        <div data-more-btn class="btn-s s-services__btn-more">Показать ещё</div>
      </div>
      <div data-tab="tab-3" data-count-show="4" class="container-more">
        <div class="s-services__items">
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
        </div>
        <div data-more-btn class="btn-s s-services__btn-more">Показать ещё</div>
      </div>
      <div data-tab="tab-4" data-count-show="4" class="container-more">
        <div class="s-services__items">
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
        </div>
        <div data-more-btn class="btn-s s-services__btn-more">Показать ещё</div>
      </div>
      <div data-tab="tab-5" data-count-show="4" class="container-more">
        <div class="s-services__items">
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
        </div>
        <div data-more-btn class="btn-s s-services__btn-more">Показать ещё</div>
      </div>
      <div data-tab="tab-6" data-count-show="4" class="container-more">
        <div class="s-services__items">
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
        </div>
        <div data-more-btn class="btn-s s-services__btn-more">Показать ещё</div>
      </div>
      <div data-tab="tab-7" data-count-show="4" class="container-more">
        <div class="s-services__items">
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Одностраничный сайт</h5>
              <p class="card-service__content">
                Мощный лендинг для рекламы акции или продукта с высокой
                конверсией.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Одностраничный сайт"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
          <div data-more-item>
            <article class="card-service">
              <h5 class="card-service__title">Сайт-каталог</h5>
              <p class="card-service__content">
                Удобная онлайн-витрина для демонстрации и структурирования всего
                вашего ассортимента.
              </p>
              <a
                href="#modal-calc"
                data-fancybox
                data-title="Сайт-каталог"
                class="card-service__btn btn-s _black"
              >
                Рассчитать стоимость
              </a>
            </article>
          </div>
        </div>
        <div data-more-btn class="btn-s s-services__btn-more">Показать ещё</div>
      </div>
    </div>
  </div>
</section>
