<section class="s-team sect-p" id="s-team">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наша команда</h2>
      <div class="slider-arrows">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-prev'></use>
          </svg>
        </div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-next'></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-team__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Савин Кирилл Дмитриевич</h5>
            <div class="card-team__status">Руководитель</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Савин Кирилл Дмитриевич</h5>
            <div class="card-team__status">Руководитель</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Савин Кирилл Дмитриевич</h5>
            <div class="card-team__status">Руководитель</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Савин Кирилл Дмитриевич</h5>
            <div class="card-team__status">Руководитель</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Савин Кирилл Дмитриевич</h5>
            <div class="card-team__status">Руководитель</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Савин Кирилл Дмитриевич</h5>
            <div class="card-team__status">Руководитель</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="card-team">
            <img src="@img/team.jpg" alt="image" class="card-team__img">
            <h5 class="card-team__title">Савин Кирилл Дмитриевич</h5>
            <div class="card-team__status">Руководитель</div>
          </article>
        </div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>