@use '../base/templates' as *;
@use '../base/media' as *;

.card-team {
  display: flex;
  flex-direction: column;
  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1.33;
    object-fit: cover;
    margin-bottom: 15px;
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 113%;
    margin: 0px 0px 30px 0px;
    @include tablet {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  &__status {
    margin-top: auto;
    font-size: 15px;
    line-height: 114%;
    color: var(--gray-d);
  }
}
