@use '../base/templates' as *;
@use '../base/media' as *;

.card-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 0 3px 5px 0 rgba(18, 18, 18, 0.25);
  transition: box-shadow .3s ease;

  text-align: center;

  @include hover {
    box-shadow: none;
  }

  @include laptop-middle {
    padding: 20px;
  }
  @include tablet-min {
    padding: 20px 15px;
  }

  &__img {
    display: block;
    width: 295px;
    margin-bottom: 25px;
    @include tablet-min {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 22px;
    margin: 0px 0px 20px 0px;

    @include laptop-min {
      font-size: 20px;
    }
    @include tablet-min {
      font-size: 18px
    }
  }
  &__content {
    line-height: 167%;
    color: rgba(0, 0, 0, 0.5);
    max-width: 260px;
    margin: 0;
  }
}
