@use '../base/templates' as *;
@use '../base/media' as *;

.content-big {
  font-size: 18px;
  line-height: 139%;

  @include laptop-min {
    font-size: 16px;
  }

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
