@use '../base/templates' as *;
@use '../base/media' as *;

.modal {
  padding: 0 !important;
  width: 600px !important;
  display: none;
  max-width: calc(100% - 30px);
  &__body {
    position: relative;
    padding: 45px 30px;
    color: black;

    @include tablet {
      padding: 35px 20px 30px 20px;
    }
  }
  &__close {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    z-index: 10;

    transition: opacity .3s ease;
    @include hover {
      opacity: 0.5;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;

    @include tablet {
      font-size: 28px;
    }
  }
  &__content {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .btn-s {
      width: 100%;
    }
  }
}