@use "../base/templates" as *;
@use "../base/media" as *;

.sect-m {
  margin: 75px 0px;
  @include tablet {
    margin: 60px 0px;
  }
}
.sect-p {
  padding: 75px 0px;
  @include tablet {
    padding: 60px 0px;
  }
}
.sect-head {
  @include flex-between;
  gap: 30px;
  margin-bottom: 40px;
}