@use '../base/templates' as *;
@use '../base/media' as *;

.slider-arrows {
  display: flex;
  gap: 12px;

  @include laptop-min {
    display: none;
  }
}

.slider-arrow {
  --background: white;
  --background-h: var(--primary);
  --color: black;

  @include flex-center;
  cursor: pointer;
  background-color: var(--background);
  box-shadow: 0 2px 4px 0 rgba(18, 18, 18, 0.25);
  border-radius: 50%;

  width: 45px;
  height: 45px;
  color: var(--color);

  transition: background-color .3s ease, background-color .3s ease;

  @include hover {
    background-color: var(--background-h);
  }
  &.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &._prev {
    svg {
      transform: translateX(-1px);
    }
  }
  &._next {
    svg {
      transform: translateX(1px);
    }
  }

  svg {
    width: 7px;
    height: 14px;
  }
}

.slider-pagination {
  @include flex-center;
  gap: 6px;
  margin-top: 30px;
  &._lap {
    @media (min-width: 992px) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    flex: 0 1 8px;
    height: 8px;
    opacity: 0.5;
    border-radius: 50px;
    background-color: var(--primary);
    margin: 0 !important;
    cursor: pointer;

    transition: opacity .3s ease, flex-basis .3s ease;

    &.swiper-pagination-bullet-active {
      opacity: 1;
      flex-basis: 20px;
    }
  }
}