@use "../base/templates" as *;
@use "../base/media" as *;

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.social-item {
  --border-color: rgba(255, 255, 255, 0.2);
  --background: transparent;
  --color: white;
  --border-color-h: var(--primary);
  --background-h: transparent;
  --color-h: var(--primary);

  @include flex-center;
  width: 56px;
  height: 48px;
  border: 1px solid var(--border-color);
  background-color: var(--background);
  color: var(--color);

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;

  @include hover {
    border: 1px solid var(--border-color-h);
    background-color: var(--background-h);
    color: var(--color-h);
  }

  &._dark {
    --border-color: rgba(0, 0, 0, 0.2);
    --color: black;
  }
  &._primary {
    --border-color: var(--primary);
    --color: var(--primary);
    --background-h: var(--primary);
    --color-h: white;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
