
@use '../base/templates' as *;
@use '../base/media' as *;
.s-title {
  font-weight: 500;
  font-size: 40px;
  margin: 0;

  @include laptop-min {
    font-size: 32px;
  }
  @include tablet {
    font-size: 28px;
  }
}
