@use "./base/normalize";
@use "./base/vars";
@use "./base/templates";
@use "./base/settings";
@use "./base/media";
@use "./base/body-config";
@use "./base/config-container";

// ui
@use "./ui/button";
@use "./ui/list";
@use "./ui/sect";
@use "./ui/title";
@use "./ui/content";
@use "./ui/modal";
@use "./ui/form";
@use "./ui/social";
@use "./ui/slider";
@use "./ui/card-service";
@use "./ui/more-item";
@use "./ui/tab";
@use "./ui/card-portfolio";
@use "./ui/card-team";

// components
@use "./components/header";

@use "./components/intro";
@use "./components/s-about";
@use "./components/burger";
@use "./components/s-services";
@use "./components/s-connect";
@use "./components/s-portfolio";
@use "./components/s-team";
@use "./components/s-contacts";
@use "./components/s-notfound";

@use "./components/footer";